.button{
  display: inline-block;
  padding: 0;
  margin-bottom: 0;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 3px;
  @include user-select;
  @include box-shadow(none);
  text-decoration: none!important;

  font-size: rem(15);
  font-weight: 600;
  letter-spacing: .75px;
  text-transform: uppercase;


  &.button_green{
    height: 40px;
    width: 150px;
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    margin: 0 auto;
    background-color: $green;
    color: $white;

    @include transition(all .3s ease);

    &:focus,
    &:hover{
      background-color: $green - 20;
    }
  }
}