.cards{
  width: 100%;
  overflow: hidden;
  position: relative;
  min-height: 50px;
  margin: {
    bottom: $margin;
  };

  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
  @include flex-flow(column);
  border-radius: 5px;
  background: {
    color: transparentize($blue_gray, .45);
    size: cover;
    position: center;
    repeat: no-repeat;
  }
  text-decoration: none!important;



  &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: transparentize($black, .25);

  }

  .card_header{
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    padding: $padding/3 $padding/2;

    color: $white;
    font-size: rem(12);
  }

  .card_content{
    position: relative;
    top: 0;
    left: 0;
    right:0 ;
    bottom: 0;
    z-index: 2;

    height: auto;

    padding: $padding+10 $padding;
  }

  .card_title{
    color: $white;
    font-weight: 600;
    font-size: rem(18);
    letter-spacing: 1px;
    text-transform: uppercase;

    margin: {
      top: 0;
      bottom: $margin;
    };


  }

  p {
    color: $white;
    font-size: rem(17);
    line-height: 160%;
    font-weight: 400;
    letter-spacing: .5px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}