@import "../helpers/mixins";

.b-dropdown {

    > .btn {
        cursor: pointer;
        @include transition(background-color 300ms ease);
    }

    a {
        outline: none;
        text-transform: none;
    }
}