form{
  position: relative;
}

.group{

  $form_validate_color: #57E1B3;
  $yellow: yellow;

  position: relative;
  width: 100%;
  border: 1px solid $light_gray;

  padding: {
    top: $padding/3;
    left: 0;
    right: 0;
    bottom: 0;
  }
  margin-bottom: $margin/3;

  label{
    margin: 0 $margin/3;
    font-size: rem(12);
    font-weight: 600;
    text-transform: uppercase;
    display: block;
  }

  .input{
    outline: none!important;
    border: none;
    border-radius: 0;
    @include box-shadow(none!important);

    padding: 0 $padding/3 $padding/3;
    font-size: rem(15);
    font-weight: 500;
    width: 100%;
    display: block;


    &:focus{
      border-color: $gray;
    }

    //&:focus ~ label.form-text,
    //&.used ~ label.form-text {
    //  top: -12px;
    //  right: 40%;
    //  left: 10px;
    //  font-size: 10px;
    //  padding: 3px;
    //  background-color: $yellow;
    //  color: $black;
    //  border-radius: 2px;
    //}
    //
    //&:valid ~ label.form-text,
    //&:valid.used ~ label.form-text {
    //  background-color: $form_validate_color;
    //}
    //
    //&:valid {
    //  border-color: $form_validate_color;
    //}
  }

  textarea{
    &.input{
      height: 100px;
      resize: none;

      //&:valid {
      //  border-color: $form_validate_color;
      //}

      //&:focus ~ label.form-text,
      //&.used ~ label.form-text {
      //  top: -12px;
      //  font-size: 10px;
      //  color: $white;
      //}
      //&:valid ~ label.form-text,
      //&:valid.used ~ label.form-text {
      //  background-color: $form_validate_color;
      //}
    }
  }
}

.form-footer{
  padding-bottom: 20px;

  .form-control{
    background-color: rgba($white, .10);
    border: none;
    border-radius: 30px;
    height: 30px;
    width: 100%;
    color: $white;
  }

  textarea.form-control{
    height: 66px;
    line-height: normal;
  }

  @media only screen and (min-width: 768px){
    .form-control{
      max-width: 255px;
      border-radius: 22px;
      height: 22px;
    }
  }
}


label.error{
  background-color: #F4A261;
  border-radius: 30px;
  height: 30px;
  line-height: 30px;
  width: 30px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;

  @include flexbox;
  @include justify-content(center);
  @include align-items(center);

  @media only screen and (min-width: 768px){
    border-radius: 22px;
    height: 22px;
    line-height: 22px;
    width: 22px;
  }

}