@import "../helpers/mixins";
@import "../helpers/variables";
@import "../helpers/flexbox";

h2 {
    color: #263238;
    font-size: 2rem;
    margin: 4rem 0 4rem;
    position: relative;

    &:after {
        border-bottom: 2px solid #333;
        bottom: -1rem;
        content: "";
        display: block;
        left: 0;
        position: absolute;
        width: 40px;
    }
}

h3 {
    color: #37474f;
    font-size: 1.5rem;
    margin: 4rem 0 2rem;
}

h2,
h3 {
    font-weight: 700;
    text-transform: uppercase;
}

.aside-button {
    @include align-items(center);
    @include flexbox();
    @include justify-content(space-between);
    width: 100%;
}

.item-list {

    > div {
        margin-bottom: 2rem;

        > a {
            background-color: #eceff1;
            @include border-radius(3px);
            display: block;
            padding: 2rem;
            position: relative;
            @include transition(transform 300ms ease);
            @include transform-origin(50% 0);

            h3 {
                color: #1f242c;
                font-size: 1.85rem;
                font-weight: 700;
                line-height: 1em;
                margin: 0 0 .5rem;
            }

            p {
                color: rgba(37, 42, 52, 0.65);
                font-size: 1.25rem;
                margin: 0;
            }

            ul {
                color: #546e7a;
                list-style: none;
                margin: 0.5rem 0 0;
                padding: 0;

                > li {
                    background-color: #eceff1;
                    @include border-radius(5px);
                    float: left;
                    font-size: 1.25rem;
                    line-height: 1em;
                    margin-right: 0.75rem;
                    padding: 0.5rem;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            &:hover,
            &:focus {
                @include scale(1.10);
            }

            &:focus,
            &:hover,
            &:active {
                outline: none;
                text-decoration: none;
            }

            &.inline {
                @include align-items(center);
                @include flexbox;

                > .image-container {
                    position: relative;

                    > img {
                        @include border-radius(50%);
                    }

                    > .status {
                        @include border-radius(50%);
                        height: 1.25rem;
                        margin: 0.25rem 0.25rem 0 0;
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 1.25rem;

                        &.green {
                            background-color: $green;
                        }

                        &.red {
                            background-color: $red;
                        }
                    }
                }

                > div + div {
                    margin-left: 1.5rem;
                }
            }

            &.transparent {
                background-color: transparent;
            }
        }
    }
}