.navbar{
  &.navbar-default{

    $height: 80px;


    height: $height;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid transparent;

    @include transition(all .35s ease);

    .navbar-brand{
      height: $height;
      width: $height;
      @include flexbox;
      @include justify-content(center);
      @include align-items(center);

      img{
        height: $height - 20;
      }
    }

    .navbar-nav{
      >li{
        height: $height;

        @include flexbox;
        @include justify-content(center);
        @include align-items(center);
        padding: 0;
        margin: 0 15px;
        color: $light_gray;

        a{
        }
      }
    }




    &.affix{
      background-color: $gray;
      border-color: $white;

    }
  }
}