{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('new_project') }}">Novo projeto</a>

    {% if message is not empty %}
        <h1>{{ message }}</h1>
    {% endif %}
{% endblock %}
