{% extends 'base.html.twig' %}

{% block body %}
    <div id="app">
        <header-view></header-view>

        <main>
            <transition name="fade">
                <router-view></router-view>
            </transition>
        </main>

        <footer-view></footer-view>
    </div>
{% endblock %}
