{% extends 'base.html.twig' %}

{% block body %}
    <div id="app">
        <header-view></header-view>
        <router-view></router-view>
        <footer-view></footer-view>
    </div>
{% endblock %}
