.sidebar{
  position: fixed;
  z-index: 9981;
  top: 50px;
  left: -$menu_width;
  width: $menu_width;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;

  background-color: $gray;
  @include box-shadow(0 0 0 transparent);
  @include transition(all .35s ease);


  ul{
    list-style: none;
    padding: 0;
  }

  .cards{
    border-radius: 0;
    margin-bottom: $margin/3;

    height: 50px;

    .card_content{
      padding: 0;

      .card_title{
        margin-bottom: 0;
      }
    }
  }

  &.menu_opened{
    left: 0;
    @include box-shadow(0 0 15px transparentize($black, .15));
  }
}