
$browser-context: 12; // Default

$open_sans: 'Open Sans', sans-serif;
$mada: 'Mada', sans-serif;

$white: #FFFFFF;
$black: #000000;

$light_gray: #e5e9f2;
$gray: #222732;

$green: #24c567;


$blue_gray: #929fb1;