
$browser-context: 12; // Default

$open_sans: 'Open Sans', sans-serif;
$roboto: 'Roboto', sans-serif;

$white: #FFFFFF;
$black: #000000;

$light_gray: #e5e9f2;
$gray: #222732;
$light_blue: #247BA0;
$light_green: #B2DBBF;
$red: #EF233C;

$green: #24c567;


$blue_gray: #929fb1;



$padding: 15px;
$margin: 15px;
$menu_width: 250px;